@keyframes blink {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

button {
  background-color: black;
  color: white;
  font-family: 'Neuton', serif;
  cursor: pointer;
  padding: 0.5em 1em;
  font-size: 1.3em;
  text-align: center;
}

#texto-logar {
  font-family: 'Alumni Sans Inline One', sans-serif;
}

p,a {
  font-family: 'Neuton', serif;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Alumni Sans Inline One', sans-serif;
  font-weight: normal;
}

@media only screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }

  #texto-logar label,
  #logar label {
    display: block;
    margin: 10px 0;
  }

  #senha {
    width: 100%;
    margin-bottom: 10px;
  }

  #btn-logar {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }

  #texto-logar label,
  #logar label {
    display: flex;
    margin: 20px 0;
  }

  #senha {
    width: 50%;
    margin-right: 10px;
  }

  #btn-logar {
    width: auto;
    padding: 10px 20px;
  }
}